/* page1 */
.fondorange{
    background-color:#73d1e8be;
    padding: 25px;
}
.fondBleuFonce{
    background-color: #0386a4;
}
.navigation{
    display: flex;
    gap: 20px;
    align-items: center;
}
.title{
    font-size: 50px;
    text-transform: none;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    padding-top: 30PX
}
.para{
    DISPLAY: flex;
    JUSTIFY-CONTENT: center;
}
.para.esp{
    PADDING-BOTTOM: 50PX;
}

/* PAGE 2 */

.display{
    display: flex;
}

.row{
    display: flex;
    gap: 50PX;
}
.avis{
    font-size: 55PX;
    display: flex;
    justify-content: space-around;
}
.row1{
    display: flex;
    justify-content: space-around;
    margin: 50PX 292PX 0 119PX;
    align-items: center;
}
.ludopara{
    padding-left: 150PX;
    text-align: center;
}
.benepara{
    padding-right: 150PX;
    text-align: center;
}
.btn{
border-radius: 0 4em 0 4em;
font-weight: 400;
text-transform: none;
padding: 10px 20px;
background-color:#0386a4;
box-shadow: none;
color: white;
text-decoration: none;
}
.marg{
    margin: auto;
}
.services{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 35PX;
}
.btn1{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.textblanc{
    color: #FFFFFF;
}
.row2{
    display: flex;
    justify-content: space-between;
    padding-top: 20PX;
}